<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello, SmartNinja</title>
        <link rel="stylesheet" href="/static/css/style.css"
    </head>

    <body>
        <h1>Welcome back to HTML. This is a test ;)</h1>
        <img src="/static/img/smartninja-logo.png">
        <p>
        <a href="http://127.0.0.1:5000/portfolio">Go to my portfolio here and klick</a>
        <p>
        <a href="https://phil-star1984.github.io/zooogle_page/">Have a look at my Zooogle-Project Site here.</a>
        <p>
        <a href="https://phil-star1984.github.io/facebook_Homework_02/">Have a look at my Fakebook-Project Site here.</a>
    </body>
</html>