<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello, SmartNinja</title>
    </head>

    <body>
        <h1>This is my portfolio!</h1>
        <a href="http://127.0.0.1:5000/">Go to my start page here and klick</a>
        <p>
        <a href="https://phil-star1984.github.io/zooogle_page/">Have a look at my Zooogle-Project Site here.</a>
        <p>
        <a href="https://phil-star1984.github.io/facebook_Homework_02/">Have a look at my Fakebook-Project Site here.</a>
    </body>
</html>